@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    
    /* identical to box height */
    text-align: center;
    
    color: #D04F4F;}